a {
  text-decoration: none;
}
.ticketRowContainer {
  min-height: 60px;
  width: 100%;
  margin: 0px 0px 6px;
  background-color: #efefef;
  color: #474747;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.53);
  box-sizing: border-box;
  animation: 0.5s ease-out 0s 1 appear, 1s ease-out 0s 1 bounce !important;
}

.ticketRowContainer > td {
  color: #474747;
  border: 1px solid #eee;
  padding: 12px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ticketTime {
  background-color: #caebf2;
  color: #474747;
}
