.ticketViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ticketViewContainer > div {
  border: 1px solid black;
}
.ticketInfoContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.urgencyType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.noteContainer > div {
  border: 1px solid black;
}
