
.parent-div {
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #efefef;
    color: #474747;

}

.vert-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

.vert-align > div {
    margin: 5px;
    /* font-family: 'Work Sans', sans-serif; */
  }

.note-pic {
    width: 80vw;
    height: 300px;
    padding: 10px 5px;
}
.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9;
    border-radius: 5px;
    padding: 10px 5px; 
    width: 80vw;
    /* font-family: 'Work Sans', sans-serif; */
  }

.inputs > input {
    margin: 10px;
    width: 30vw;
    font-family: 'Work Sans', sans-serif;
}

.inputs > textarea {
    margin: 10px;
    width: 40vw;
    font-family: 'Work Sans', sans-serif;
}

.inputs > div {
    font-family: 'Work Sans', sans-serif;
}

.file-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
    width: 80vw;
    padding: 10px 5px;
    /* font-family: 'Work Sans', sans-serif; */
}

#note-attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
    padding: 10px 5px;
}

.next-step, .previous-step {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.23);
    margin: 0 25px 25px !important;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;  
    padding: 10px; 
    font-weight: bold;
}

.next-step:hover {
    cursor: pointer;
  }

.previous-step:hover {
    cursor: pointer;
  }

#orange {
    background-color: #F9C49A;
}

#blue {
    background-color: #caebf2;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    margin: 25px;
    padding: 10px;
}

#note-title {
    font-weight: bold;
    background-color: #efefef;
    color: #474747;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    background-color: #efefef;
    resize: none;
    color: #474747
}

h2 {
    color: #474747;
}

label {
    color: #474747;
}

.file-upload > label {
    overflow-wrap: break-word;
    font-weight: bold;
}

.note-pic > img {
    /*height: 90%;*/
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
}

.file-upload > div {
    margin: 10px;
}

#unitNumber {
    width: 40vw;
    border-radius: 5px;
    background-color: #efefef;
}