.HomeViewContainer {
  height: 100vh;
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeViewTitle {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 10px 0px rgba(71, 71, 71, 0.16);
}
h1,
h2 {
  color: #474747;
}
.homeViewImg {
  width: 300px;
  margin: 20px 0px;
}
.infoContainer {
  height: 80vh;
  width: 100%;
  background-color: #a9a9a9;
}
.ticketContainer {
  height: 90%;
  width: 100%;
  padding: 10px 5px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.ticketTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-collapse: collapse;
}
.ticketTableBody {
  margin: 0px auto 60px;
}

.buttonDiv {
  position: absolute;
  bottom: 10px;
}
.newTicketButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #caebf2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.23);
  margin: 10px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newTicketButton:hover {
  cursor: pointer;
}
a {
  color: #474747;
  text-decoration: none;
}
@media only screen and (min-width: 376px) {
  .ticketContainer {
    width: 100%;
  }
}
.logoutButton {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #474747;
  color: white;
  border: 3px solid #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 6px;
  top: 10px;
}
