.ticketSummaryContainer {
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #efefef;
    color: #474747;
}    

.summaryInfoContainer {    
    background-color: #a9a9a9;
    border-radius: 5px;
    padding: 10px 5px; 
    width: 80vw;

}

.sum-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 5px;
    width: 80vw; 
    font-weight: bold;

}

.sum-items > img {
    margin: 0px 10px;
    color: #474747;
    width: 90%;
    font-weight: normal;
}

#navigation {
    width: 80vw;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.desc {
    /* background-color: #efefef; */
    max-width: 100px;
    max-height: 300px;
    border-radius: 5px;
    padding: 0px 10px;
    color: #474747;
    text-align: left;
    font-weight: normal;
}

